h1 {
    margin-left: 500px;
    line-height: 3em;
    color: rgb(211, 54, 54);
    font-size: 50px;
    
}
header {
    border-bottom: 5px solid #242ec0;
}
.tit {
    color: #086b31;
    font-size:x-large;

}
body{
    background-color: rgb(167, 132, 151);
}
ol{
color: rgb(190, 58, 98);   
font-size: larger; 

}